* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    width: 100vw;
    background-color: #00346b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100dvh;
    width: 100vmin;
    overflow-y: auto;
    background-color: #001D3D;
    /* position: relative; */
}

.container::-webkit-scrollbar {
    width: 4px;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

nav {
    padding: 20px 36px;
    background-color: #000816;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    /* position: sticky; */
}

.search {
    flex: 1;
    position: relative;
    display: flex;
}

input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    max-width: 360px;
    font-size: 20px;
    padding: 8px 28px;
    border-radius: 40px;
    background-color: #424242;
    color: rgb(209, 209, 209);
}

ul li {
    list-style: none;
}

.suggestions {
    position: absolute;
    top: calc(100% + 16px);
    /* border: 1px solid #ccc; */
    min-width: 200px;
    max-width: 90%;
    margin-left: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 240px;
    overflow-y: auto;
    background-color: #333;
}

.suggestions::-webkit-scrollbar {
    width: 4px;
}

.suggestions::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.suggestions li {
    padding: 12px 0;
    padding-left: 16px;
    background-color: #565656;
    border-radius: 8px;
}

.hide {
    display: none;
}

.current-weather {
    background-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0 24px 0;
}

.weather-details {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.city-name {
    font-size: 36px;
    font-weight: 600;
}

.temp {
    display: flex;
}

.temp-value {
    font-size: 56px;
    font-weight: 600;
}

.deg {
    font-weight: 700;
}

.temp-2 {
    font-size: 16px;
    font-weight: 500;
    color: #ccc;
}

.weather-add-details ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    gap: 16px;
}

.weather-add-details ul li {
    background-color: #333;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
}

.weather-add-details .item .item-label {
    font-size: 16px;
}

.weather-add-details .item .item-value {
    font-size: 32px;
    font-weight: 600;
}

.unit {
    font-size: 20px;
}